{
	"email":"<user email>",
	"password":"<user password>",
	"domains":[
		{
			"name":"<a domain>",
			"subdomains":[
				"<a subdomain>"
			]
		}
	],
	"driver":"<a driver>",
	"display":<boolean: display?>
}
